$iron: #263238; 
$blush: #F5C8BF; 
$rose: #D19487; 
$mauve: #B2738E; 
$slate: #577783; 
$mint: #8BB29A; 
$oak: #D1AE87; 
$grey: #C5C1C6;
$g1: lighten($grey, 10%); 
$g2: lighten($grey, 2%); 
$g3: darken($grey, 15%); 
$hi: $blush;
$wh: #fcfcfc; 
$bl: $iron;
$bg: #fbe6e2;

